@font-face {
    font-family: "LXGW WenKai GB Screen";
    src: url("LXGWWenKaiGBScreen.eot"); /* IE9 */
    src: url("LXGWWenKaiGBScreen.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("LXGWWenKaiGBScreen.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("LXGWWenKaiGBScreen.woff") format("woff"), /* chrome, firefox */
    url("LXGWWenKaiGBScreen.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("LXGWWenKaiGBScreen.svg#LXGW WenKai GB Screen") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


